
{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>This is html pages contains css and images  of static files</h1>
        <h2 id="r1">Rohit Sharma</h2>

        <img src="{% static 'images/rohit.avif' %}" alt="Image Not Found" height="500px" width="500px">

        <p class="rohi">Rohit Shah (born 27 December 1997) is an Indian cricketer. He made his Twenty20 debut on 17 January 2021, for Meghalaya in the 2020–21 Syed Mushtaq Ali Trophy. He made his List A debut on 21 February 2021, for Meghalaya in the 2020–21 Vijay Hazare Trophy.</p>
    </center>
        

    <section>
        <center>
            <h2 id ="v1">Virat Kohli</h2>

        <img src="{% static 'images/virat.png' %}" alt="Image Not Found" height="500px" width="500px">
        <p class="rohi">Virat Kohli (born November 5, 1988, Delhi, India) is an Indian international cricketer considered by many as one of the greatest batsmen in the history of the game. Kohli plays for (and previously captained) the Royal Challengers Bangalore (RCB) in the Indian Premier League (IPL). He is also a former captain of the Indian cricket team in all three international formats—Test cricket, one-day internationals (ODIs), and Twenty20 internationals (T20I)—making him one of India’s most successful captains.</p>
        </center>


    </section>


</body>
</html>